chrony
curl
dfu-util
dkms
gir1.2-gst-rtsp-server-1.0
gnupg2
gstreamer1.0-doc
gstreamer1.0-libav
gstreamer1.0-plugins-bad
gstreamer1.0-plugins-base
gstreamer1.0-plugins-good
gstreamer1.0-plugins-ugly
gstreamer1.0-rtsp
gstreamer1.0-tools
libasio-dev
libboost-dev
libcairo2-dev
libdw-dev
libfontconfig1-dev
libfreetype6-dev
libgif-dev
libgstreamer-plugins-base1.0-dev
libgstreamer1.0-0
libgstrtspserver-1.0-dev
libjpeg-dev
libpng-dev
libqt5svg5-dev
libwebsocketpp-dev
libx265-dev
libzmq3-dev
lsb-release
nano
net-tools
netplan.io
python-gst-1.0
python3-gst-1.0
python3-pip
python3-serial
qtbase5-dev
rapidjson-dev
ros-eloquent-behaviortree-cpp-v3
ros-eloquent-diagnostic-updater
ros-eloquent-perception-pcl
ros-eloquent-rmw-cyclonedds-cpp
ros-eloquent-ros2bag
ros-eloquent-rosbag2-storage-default-plugins
ros-eloquent-compressed-image-transport
setserial
sshpass
x265
